.service{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.image{
    width: 100%;
}

.button{
    border: none;
    border-radius: 10px;
    background-color: rgba(65, 65, 255, 0.895);
    color: white;
    padding: 10px;
}